*.json
*.pyc
python_variable_annotations/0-main.py
python_variable_annotations/1-main.py
python_variable_annotations/2-main.py
ES6_basic/node_modules/*
ES6_classes/node_modules/*
node_modules
ES6_promise/.eslintrc.js
ES6_data_manipulation/.eslintrc.js
ES6_data_manipulation/babel.config.js
